use (
	./22mymodules
	./23buildapi
	./24goroutines
	./25racecondition
	./26channels
	./28go-concurrency-pattern/01generator
	./28go-concurrency-pattern/02fanin
	./28go-concurrency-pattern/03restoringsequence
	./28go-concurrency-pattern/03timeout-select
)
